<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
  <img src= '/post_images/<%= @idea.name %>' width="200px" />
</p>

<%= link_to 'Edit', edit_idea_path(@idea.id) %> |
<%= link_to 'Back', ideas_path %>
